
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
.idea/misc.xml
*.xml
.idea/misc.xml
IA150X/__pycache__/cnn.cpython-312.pyc
IA150X/.idea/IA150X.iml
IA150X/__pycache__/cnn.cpython-312.pyc
/IA150X/temp
/IA150X/evaluation_dataset
/IA150X/dataset2
IA150X/yt_urls_backup.txt
IA150X/yt_urls.txt
/IA150X/.idea
